@charset "utf-8";
#heading {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    background-color: rgba(215,33,89,1.00);
    color: rgba(252,252,252,1.00);
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-size: xx-large;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-color: rgba(248,248,248,1.00);
    letter-spacing: 2px;
    text-shadow: 0px 0px;
}

#navigation {
    font-size: small;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    background-color: #989293;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    min-width: 25px;
    overflow: hidden;
	
}

container {
    background-color: #F3B1D2;
    width: 500px;
}

#main {
    background-color: #F8BBD0;
	
}

.container {
    background-color: #FCBDCC;
	
}
.navlist {
    overflow: hidden;
    list-style-type: none;
}
.navlistitem {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
}
.navlistitem a {
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: #FDFDFD;
}

#footer {
    background-color: #D72159;
    color: #FCFCFC;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    text-align: center;
    position: static;
    text-indent: 0px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.myBtn {
    text-decoration: none;
}

button {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 4%;
    left: 96.25%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: #F6C8D6;
    padding: .5px;
    border-radius: 4px;
    text-decoration: none;
    list-style-type: none;
}

h2
{
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: normal;
}

table
{
    font-family: calibri;
    font-weight: normal;
}

p {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
}
.a {
    color: #FFFFFF;
    font-family: kaushan-script;
    font-style: normal;
    font-weight: 400;
}
.tips {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
